@import url('https://fonts.googleapis.com/css?family=Kameron');

.App {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: #212b4b;
  font-family: 'Kameron', serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#dot {
  margin: 40px;
}

@-webkit-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

#slogan {
  -webkit-animation:fadein 6s;
}

.logo {
  margin-top: 180px;
  animation: 1s ease-out 0s 1 slideInFromLeft;

}

.footer {
  background-color: #333333;
  height: 150px;
  -webkit-box-shadow: 0px -15px 73px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -15px 73px -9px rgba(0,0,0,0.75);
  box-shadow: 0px -15px 73px -9px rgba(0,0,0,0.75);
}

.postList {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333333;
  display: inline-block;
  height: 150px;
  width: 100%;
  -webkit-box-shadow: 0px 13px 73px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 73px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 73px -9px rgba(0,0,0,0.75);
}

.postLink {
  padding: 30px;
  display: inline-block;
}

.postLink img {
  height: 120px;
  width: 120px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.postLink img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}


.showPost {
  background-color: #f4f4f4;
  padding: 40px;
  height: 680px;
}

#arrow:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);

}

.content img {
  max-height: 400px;
}

video {
  max-height: 400px;
}

.links {
  width: 60%;
  margin: 0 auto;
}

#bird {
  height: 80px;
}

.footer a {
  text-decoration: none;
  color: #f4f4f4;
}

.footer a:hover {
  color: #35cde0;
}

.content {
  height: 400px;
  margin: auto;
}
